@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 246, 0.679);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(123, 191, 242);
}

body {
  /* overflow-x: hidden; */
  background-color: #fafafa;
}